In [3]:
import pandas as pd

In [4]:
data= pd.read_csv('planecrashinfo_20181121001952.csv')

In [5]:
data

,date,time,location,operator,flight_no,route,ac_type,registration,cn_ln,aboard,fatalities,ground,summary
0,"September 17, 1908",17:18,"Fort Myer, Virginia",Military - U.S. Army,?,Demonstration,Wright Flyer III,?,1,2 (passengers:1 crew:1),1 (passengers:1 crew:0),0,"During a demonstration flight, a U.S. Army fly..."
1,"September 07, 1909",?,"Juvisy-sur-Orge, France",?,?,Air show,Wright Byplane,SC1,?,1 (passengers:0 crew:1),1 (passengers:0 crew:0),0,Eugene Lefebvre was the first pilot to ever be...
2,"July 12, 1912",06:30,"Atlantic City, New Jersey",Military - U.S. Navy,?,Test flight,Dirigible,?,?,5 (passengers:0 crew:5),5 (passengers:0 crew:5),0,First U.S. dirigible Akron exploded just offsh...
3,"August 06, 1913",?,"Victoria, British Columbia, Canada",Private,?,?,Curtiss seaplane,?,?,1 (passengers:0 crew:1),1 (passengers:0 crew:1),0,The first fatal airplane accident in Canada oc...
4,"September 09, 1913",c 18:30,Over the North Sea,Military - German Navy,?,?,Zeppelin L-1 (airship),?,?,20 (passengers:? crew:?),14 (passengers:? crew:?),0,The airship flew into a thunderstorm and encou...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5778,"July 10, 2018",0744,"Pretoria, South Africa",Rovos Air,?,Test Flight,Convair CV-340,ZS-BRV,215,19 (passengers:16 crew:3),1 (passengers:0 crew:1),1,"Shortly after takeoff from runway 29, the left..."
5779,"August 04, 2018",1655,"Flims, Switzerland",Ju Air,?,Locorno - Dubendorf,Junkers JU-52,HB-HOT,6595,20 (passengers:17 crew:3),20 (passengers:17 crew:3),1,The vintage aircraft crashed onto Piz Segnas m...
5780,"September 28, 2018",1010,"Chuuk, Micronesia",Air Niugini,?,Pohnpei - Chuuk,Boeing 737-8BK,P2-PXE,33024/1688,47 (passengers:35 crew:12),1 (passengers:1 crew:0),0,The aircraft was approaching for a landing at ...
5781,"October 29, 2018",0631,"Off Jakarta, Indonesia",Lion Air,610,Jakarta - Pangkal Pinang,Boeing 737-MAX 8,PK-LQP,43000/7058,189 (passengers:181 crew:8),189 (passengers:181 crew:8),0,"The airliner crashed into the Jakarta Sea, 13 ..."
5782,"November 06, 2018",0253,"Georgetown, Guyana",Fly Jamaica Airways,?,Georgetown - Toronto,Boeing 757-N23,N524AT,30233/895,128 (passengers:120 crew:8),1 (passengers:1 crew:0),0,"After taking off and reaching FL200, the crew ..."

In [10]:
pd.to_datetime(data['date'])

0      1908-09-17
1      1909-09-07
2      1912-07-12
3      1913-08-06
4      1913-09-09
          ...
5778   2018-07-10
5779   2018-08-04
5780   2018-09-28
5781   2018-10-29
5782   2018-11-06
Name: date, Length: 5783, dtype: datetime64[ns]

In [14]:
data.columns

Index(['date', 'time', 'location', 'operator', 'flight_no', 'route', 'ac_type',
       'registration', 'cn_ln', 'aboard', 'fatalities', 'ground', 'summary'],
      dtype='object')

In [18]:
len(data['operator'].unique())

2821