## Project, Van Quan DONG

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

# Import data

In [2]:
customer = pd.read_csv('QVI_purchase_behaviour1.csv')

In [3]:
potato = pd.read_excel('QVI_transaction_data1.xlsx')

In [4]:
customer

       LYLTY_CARD_NBR               LIFESTAGE PREMIUM_CUSTOMER
0                1000   YOUNG SINGLES/COUPLES          Premium
1                1002   YOUNG SINGLES/COUPLES       Mainstream
2                1003          YOUNG FAMILIES           Budget
3                1004   OLDER SINGLES/COUPLES       Mainstream
4                1005  MIDAGE SINGLES/COUPLES       Mainstream
...               ...                     ...              ...
72632         2370651  MIDAGE SINGLES/COUPLES       Mainstream
72633         2370701          YOUNG FAMILIES       Mainstream
72634         2370751          YOUNG FAMILIES          Premium
72635         2370961          OLDER FAMILIES           Budget
72636         2373711   YOUNG SINGLES/COUPLES       Mainstream

[72637 rows x 3 columns]

In [5]:
potato

,DATE,STORE_NBR,LYLTY_CARD_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES
0,43390,1,1000,1,5,Natural Chip Compny SeaSalt175g,2,6.0
1,43599,1,1307,348,66,CCs Nacho Cheese 175g,3,6.3
2,43605,1,1343,383,61,Smiths Crinkle Cut Chips Chicken 170g,2,2.9
3,43329,2,2373,974,69,Smiths Chip Thinly S/Cream&Onion 175g,5,15.0
4,43330,2,2426,1038,108,Kettle Tortilla ChpsHny&Jlpno Chili 150g,3,13.8
...,...,...,...,...,...,...,...,...
264831,43533,272,272319,270088,89,Kettle Sweet Chilli And Sour Cream 175g,2,10.8
264832,43325,272,272358,270154,74,Tostitos Splash Of Lime 175g,1,4.4
264833,43410,272,272379,270187,51,Doritos Mexicana 170g,2,8.8
264834,43461,272,272379,270188,42,Doritos Corn Chip Mexican Jalapeno 150g,2,7.8
264835,43365,272,272380,270189,74,Tostitos Splash Of Lime 175g,2,8.8

# Data exploration

In [6]:
potato.describe()

,DATE,STORE_NBR,LYLTY_CARD_NBR,TXN_ID,PROD_NBR,PROD_QTY,TOT_SALES
count,264836.000000,264836.00000,2.648360e+05,2.648360e+05,264836.000000,264836.000000,264836.000000
mean,43464.036260,135.08011,1.355495e+05,1.351583e+05,56.583157,1.907309,7.304200
std,105.389282,76.78418,8.057998e+04,7.813303e+04,32.826638,0.643654,3.083226
min,43282.000000,1.00000,1.000000e+03,1.000000e+00,1.000000,1.000000,1.500000
25%,43373.000000,70.00000,7.002100e+04,6.760150e+04,28.000000,2.000000,5.400000
50%,43464.000000,130.00000,1.303575e+05,1.351375e+05,56.000000,2.000000,7.400000
75%,43555.000000,203.00000,2.030942e+05,2.027012e+05,85.000000,2.000000,9.200000
max,43646.000000,272.00000,2.373711e+06,2.415841e+06,114.000000,200.000000,650.000000

In [7]:
potato.shape

(264836, 8)

In [8]:
potato.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264836 entries, 0 to 264835
Data columns (total 8 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   DATE            264836 non-null  int64
 1   STORE_NBR       264836 non-null  int64
 2   LYLTY_CARD_NBR  264836 non-null  int64
 3   TXN_ID          264836 non-null  int64
 4   PROD_NBR        264836 non-null  int64
 5   PROD_NAME       264836 non-null  object
 6   PROD_QTY        264836 non-null  int64
 7   TOT_SALES       264836 non-null  float64
dtypes: float64(1), int64(6), object(1)
memory usage: 16.2+ MB

> - note: Date should be transform to approriate format,

**There are mutual columns that link the customer data with the potato data**

In [9]:
potato.set_index('LYLTY_CARD_NBR').join(customer.set_index('LYLTY_CARD_NBR'))

,DATE,STORE_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES,LIFESTAGE,PREMIUM_CUSTOMER
LYLTY_CARD_NBR,,,,,,,,,
1000,43390,1,1,5,Natural Chip Compny SeaSalt175g,2,6.0,YOUNG SINGLES/COUPLES,Premium
1002,43359,1,2,58,Red Rock Deli Chikn&Garlic Aioli 150g,1,2.7,YOUNG SINGLES/COUPLES,Mainstream
1003,43531,1,3,52,Grain Waves Sour Cream&Chives 210G,1,3.6,YOUNG FAMILIES,Budget
1003,43532,1,4,106,Natural ChipCo Hony Soy Chckn175g,1,3.0,YOUNG FAMILIES,Budget
1004,43406,1,5,96,WW Original Stacked Chips 160g,1,1.9,OLDER SINGLES/COUPLES,Mainstream
...,...,...,...,...,...,...,...,...,...
2370701,43442,88,240378,24,Grain Waves Sweet Chilli 210g,2,7.2,YOUNG FAMILIES,Mainstream
2370751,43374,88,240394,60,Kettle Tortilla ChpsFeta&Garlic 150g,2,9.2,YOUNG FAMILIES,Premium
2370961,43397,88,240480,70,Tyrrells Crisps Lightly Salted 165g,2,8.4,OLDER FAMILIES,Budget
2370961,43400,88,240481,65,Old El Paso Salsa Dip Chnky Tom Ht300g,2,10.2,OLDER FAMILIES,Budget
2373711,43448,88,241815,16,Smiths Crinkle Chips Salt & Vinegar 330g,2,11.4,YOUNG SINGLES/COUPLES,Mainstream

In [10]:
merge = customer.set_index('LYLTY_CARD_NBR').join(potato.set_index('LYLTY_CARD_NBR'))

In [11]:
merge.reset_index()

,LYLTY_CARD_NBR,LIFESTAGE,PREMIUM_CUSTOMER,DATE,STORE_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES
0,1000,YOUNG SINGLES/COUPLES,Premium,43390,1,1,5,Natural Chip Compny SeaSalt175g,2,6.0
1,1002,YOUNG SINGLES/COUPLES,Mainstream,43359,1,2,58,Red Rock Deli Chikn&Garlic Aioli 150g,1,2.7
2,1003,YOUNG FAMILIES,Budget,43531,1,3,52,Grain Waves Sour Cream&Chives 210G,1,3.6
3,1003,YOUNG FAMILIES,Budget,43532,1,4,106,Natural ChipCo Hony Soy Chckn175g,1,3.0
4,1004,OLDER SINGLES/COUPLES,Mainstream,43406,1,5,96,WW Original Stacked Chips 160g,1,1.9
...,...,...,...,...,...,...,...,...,...,...
264831,2370701,YOUNG FAMILIES,Mainstream,43442,88,240378,24,Grain Waves Sweet Chilli 210g,2,7.2
264832,2370751,YOUNG FAMILIES,Premium,43374,88,240394,60,Kettle Tortilla ChpsFeta&Garlic 150g,2,9.2
264833,2370961,OLDER FAMILIES,Budget,43397,88,240480,70,Tyrrells Crisps Lightly Salted 165g,2,8.4
264834,2370961,OLDER FAMILIES,Budget,43400,88,240481,65,Old El Paso Salsa Dip Chnky Tom Ht300g,2,10.2
264835,2373711,YOUNG SINGLES/COUPLES,Mainstream,43448,88,241815,16,Smiths Crinkle Chips Salt & Vinegar 330g,2,11.4

**Transform DATE columns in to approriate date**

In [12]:
merge['DATE'] = pd.to_datetime(merge['DATE'], origin = '1899-12-30',errors='coerce',unit='d' )

In [13]:
potato['DATE'] = pd.to_datetime(potato['DATE'], origin = '1899-12-30',errors='coerce',unit='d' )

In [14]:
merge.sort_values(by = ['DATE'])

,LIFESTAGE,PREMIUM_CUSTOMER,DATE,STORE_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES
LYLTY_CARD_NBR,,,,,,,,,
78115,MIDAGE SINGLES/COUPLES,Mainstream,2018-07-01,78,76138,87,Infuzions BBQ Rib Prawn Crackers 110g,2,7.6
220035,YOUNG SINGLES/COUPLES,Mainstream,2018-07-01,220,219501,81,Pringles Original Crisps 134g,2,7.4
141141,YOUNG SINGLES/COUPLES,Mainstream,2018-07-01,141,142377,89,Kettle Sweet Chilli And Sour Cream 175g,2,10.8
59307,YOUNG SINGLES/COUPLES,Mainstream,2018-07-01,59,55832,17,Kettle Sensations BBQ&Maple 150g,2,9.2
39086,OLDER SINGLES/COUPLES,Mainstream,2018-07-01,39,35147,107,Smiths Crinkle Cut French OnionDip 150g,2,5.2
...,...,...,...,...,...,...,...,...,...
156186,OLDER SINGLES/COUPLES,Premium,2019-06-30,156,157872,93,Doritos Corn Chip Southern Chicken 150g,2,7.8
110247,OLDER SINGLES/COUPLES,Premium,2019-06-30,110,113041,88,Kettle Honey Soy Chicken 175g,2,10.8
187156,YOUNG SINGLES/COUPLES,Mainstream,2019-06-30,187,189059,77,Doritos Corn Chips Nacho Cheese 170g,2,8.8
104098,OLDER FAMILIES,Budget,2019-06-30,104,104313,114,Kettle Sensations Siracha Lime 150g,2,9.2
53382,RETIREES,Budget,2019-06-30,53,47672,39,Smiths Crinkle Cut Tomato Salsa 150g,2,5.2

In [15]:
merge = merge.reset_index()

In [16]:
merge.isna().sum()

LYLTY_CARD_NBR      0
LIFESTAGE           0
PREMIUM_CUSTOMER    0
DATE                0
STORE_NBR           0
TXN_ID              0
PROD_NBR            0
PROD_NAME           0
PROD_QTY            0
TOT_SALES           0
dtype: int64

In [17]:
merge.groupby(merge['PREMIUM_CUSTOMER']).count()['PROD_QTY'].reset_index(name = 'count')

  PREMIUM_CUSTOMER   count
0           Budget   93157
1       Mainstream  101988
2          Premium   69691

In [18]:
potato

,DATE,STORE_NBR,LYLTY_CARD_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES
0,2018-10-17,1,1000,1,5,Natural Chip Compny SeaSalt175g,2,6.0
1,2019-05-14,1,1307,348,66,CCs Nacho Cheese 175g,3,6.3
2,2019-05-20,1,1343,383,61,Smiths Crinkle Cut Chips Chicken 170g,2,2.9
3,2018-08-17,2,2373,974,69,Smiths Chip Thinly S/Cream&Onion 175g,5,15.0
4,2018-08-18,2,2426,1038,108,Kettle Tortilla ChpsHny&Jlpno Chili 150g,3,13.8
...,...,...,...,...,...,...,...,...
264831,2019-03-09,272,272319,270088,89,Kettle Sweet Chilli And Sour Cream 175g,2,10.8
264832,2018-08-13,272,272358,270154,74,Tostitos Splash Of Lime 175g,1,4.4
264833,2018-11-06,272,272379,270187,51,Doritos Mexicana 170g,2,8.8
264834,2018-12-27,272,272379,270188,42,Doritos Corn Chip Mexican Jalapeno 150g,2,7.8
264835,2018-09-22,272,272380,270189,74,Tostitos Splash Of Lime 175g,2,8.8

In [19]:
plt.rcParams['figure.figsize'] = (40,40)
plt.bar(potato['DATE'].sort_values(),)
plt.show()

TypeError: bar() missing 1 required positional argument: 'height'

In [20]:
potato.to_csv('potato.csv', index=False )

# Examine, removing outlier

In [ ]:
merge

In [ ]:
merge['PROD_QTY'].unique()

In [ ]:
merge.loc[merge['PROD_QTY']>100]

In [ ]:
merge = merge.drop([221625,221626])

In [ ]:
merge['PROD_QTY'].plot()

In [ ]:
merge['TOT_SALES'].plot()

In [ ]:
merge['TOT_SALES'].plot(kind = 'hist')

> - There are outlier, need to detect and remove

In [ ]:
merge['TOT_SALES'].plot(kind = 'box')

In [ ]:
merge['TOT_SALES'].describe()

In [ ]:
merge = merge.loc[~(merge['TOT_SALES']>(merge['TOT_SALES'].mean()+3*merge['TOT_SALES'].std()))]

In [ ]:
merge

In [ ]:
merge['TOT_SALES'].plot(kind = 'box')

In [ ]:
a = merge.groupby('DATE').count().reset_index()['DATE'].reset_index()

In [ ]:
a

In [ ]:
pd.date_range(start="2018-07-01",end="2019-06-30").difference(a['DATE'])

In [ ]:
#ax = plt.plot(merge['DATE'], merge[''])

In [ ]:
b = merge.groupby('DATE').count()['PROD_QTY']

In [ ]:
b = b.reset_index()
b

In [ ]:
plt.bar(b['DATE'],b['PROD_QTY'])
plt.figure(figsize= (1000,1000))

In [ ]:
b.loc[364] = [2018,0]
b
pd.to_datetime(2018/12/25)

In [ ]:
merge['DATE']

In [ ]:
ProductWeight = merge['PROD_NAME'].str.extractall('(\d+)')

In [ ]:
ProductWeight = ProductWeight.reset_index()

In [ ]:
merge = merge.reset_index()

In [ ]:
ProductWeight = ProductWeight.rename(columns = {0: 'weight'})

In [ ]:
ProductWeight = ProductWeight['weight'].reset_index()

In [ ]:
merge['weight'] = ProductWeight['weight']

In [ ]:
merge

In [ ]:
merge['weight'] = ProductWeight['weight']

In [ ]:
ProductWeight['weight']

In [ ]:
merge

In [ ]:
ProductWeight.drop(columns= ['level_0'], inplace= True)

In [ ]:
ProductWeight.drop(columns = ['match'], inplace= True)

In [ ]:
merge['weight'] = ProductWeight

In [ ]:
merge

In [ ]:
ProductWeight

In [ ]:
merge

In [ ]:
merge.drop(columns='level_0', inplace= True)

In [ ]:
merge.drop(columns= 'index', inplace= True)

In [ ]:
merge

In [ ]:
Question1 = merge.groupby('LIFESTAGE')['TOT_SALES'].sum().reset_index()

Who spends the most on chips (total sales), describing customers by lifestage and
how premium their general purchasing behaviour is

In [ ]:
Question1.sort_values(by = ['TOT_SALES'], ascending=False)

In [ ]:
merge.groupby('PREMIUM_CUSTOMER')[['TOT_SALES', 'PROD_QTY']].sum().sort_values(by = ['TOT_SALES'], \
                                                                               ascending= False)

How many customers are in each segment

In [ ]:
Q2 = merge.groupby('PREMIUM_CUSTOMER')[['TOT_SALES']].count().sort_values(by = ['TOT_SALES'], ascending= False)\
.rename(columns={'TOT_SALES': 'Number_of_customer'})
Q2

How many chips are bought per customer by segment

In [ ]:
merge.groupby('LYLTY_CARD_NBR').count().groupby('PREMIUM_CUSTOMER').count()

In [ ]:
merge.groupby('PREMIUM_CUSTOMER').count()

In [ ]:
merge[merge['PREMIUM_CUSTOMER'] == 'Budget'].groupby('LYLTY_CARD_NBR')['PROD_QTY'].count().sort_values()

What's the average chip price by customer segment

In [ ]:
?plt.plot

In [ ]:
potato.groupby('PROD_NAME').count()

In [ ]:
#b.plot(kind = 'line', x= 'DATE')
b.loc[len(b)]=[2018-12-25,0]
b.plot(kind = 'line', x= 'DATE')
b

In [ ]:
import matplotlib.pyplot as plt
import numpy as np

xpoints = np.array([1, 2, 6, 8])
ypoints = np.array([3, 8, 0, 10])

plt.plot(xpoints, ypoints)
plt.show()